
// Body
$body-bg: #f5f8fa;

// Typography
$font-header: "Playfair Display", sans-serif;
$font-family-sans-serif: "Lora", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-dark-blue: #444461;
$color-light-blue: #57B0DE;
$color-light-green: #41DB65 - #222;
$color-white: #FFFFFF;
$color-black: #222222;
$color-light-bg: #F4F7FB;
